#mapid {
  position: relative;
  width: 70%;
  height: 409px;
  margin-left: auto;
  margin-right: auto;
}

/*
Tamaño de movil y tablet
*/
@media screen and (max-width:1024px ){
  #mapid {
    width: auto;
    height: 23em;
    margin-left: 10px;
  }

  .ubicacion{
    top: 0;
    position: relative;
    display: block;
    width: 100%;
    margin-left: 2%;
  }
}